.App {
  margin-left: 600px;
  text-align: center;
  height: 30vh;
  width: 25.9vw;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-header {
  background: var(--Dfrad-fond-app, linear-gradient(180deg, #333 0%, #000 35%, #000 100%));
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
  align-content: center;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.circle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px; 
  width: 300px; 
  margin: 150px;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  border-radius: 50%; 
  border: 2px solid white; 
  height: 100%;
  width: 100%;
}


.circle-text {
  color: white;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
}
