@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App {
  text-align: center;
  height: 100%;
  width: 100%;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.header {
  padding: 15px;
}

.App-header {
  background: #66A865;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
  align-content: center;
}

.App-link {
  color: #61dafb;
}


.circle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px; 
  width: 300px; 
  margin: 125px;
  position: relative; /* permet de positionner la vidéo par rapport au cercle */
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  border-radius: 50%; 
  border: 2px solid white; 
  height: 100%;
  width: 100%;
}


.circle-text {
  color: white;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
}

.video-feed {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%; 
  width: 100%;
  height: 100%;
}